/*mapa*/
/*.mapa-info.ng-hide-add, .mapa-info.ng-hide-remove {
  transition: 0s linear all;
}
.mapa-info.ng-hide{
	margin-bottom: -200px;
}
.mapa-info.ng-hide-add{
	margin-bottom: -200px;
}
.mapa-info.ng-hide-add-active{
	margin-bottom: 0px;
}
.mapa-info.ng-hide-add-active,
.mapa-info.ng-hide-remove-active {
  transition: .3s linear all;
}*/




/*   
SECCIONES 
*/
.enterSeccionShow-add-active,
.enterSeccionHide-add-active,
.backSeccionShow-add-active,
.backSeccionHide-add-active
{
  transition: .4s;
}

.enterSeccionShow-add{
	display: block!important;
	z-index: 999999;
	-webkit-transform: translate3d(100%, 0px, 0px);
	opacity: 1;
}
.enterSeccionShow-add-active{
	-webkit-transform: translate3d(0%, 0px, 0px);
	opacity: 1;
}
.enterSeccionHide-add{
	display: block!important;
	z-index: 999998;
	-webkit-transform: translate3d(0%, 0px, 0px);
	opacity: 1;
}
.enterSeccionHide-add-active{
	-webkit-transform: translate3d(-30%, 0px, 0px);
	opacity: 0;
}
.backSeccionShow-add{
	display: block!important;
	z-index: 99998;
	-webkit-transform: translate3d(-30%, 0px, 0px);
	opacity: 0;
}
.backSeccionShow-add-active{
	-webkit-transform: translate3d(0%, 0px, 0px);
	opacity: 1;
}
.backSeccionHide-add{
	display: block!important;
	z-index: 99999;
	-webkit-transform: translate3d(0%, 0px, 0px);
	opacity: 1;
}
.backSeccionHide-add-active{
	-webkit-transform: translate3d(100%, 0px, 0px);
	opacity: 1;
}
