<!DOCTYPE html>
<html ng-app="geobarApp">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="css/app.css">
  </head>

  <body ng-controller="mainController">

    <div>
      <a ng-click="atras()" ng-class="expression"><<</a>
      <a ng-click="navigateService.go('lista')" >Lista</a>
      <a ng-click="atras()">Terms</a>
      <a ng-click="atras()">Home</a>
      <a ng-click="atras()">Home2</a>
    </div>

 <!--    <div ng-view class='view-animate'></div> -->
    <div ng-controller="seccionLoaderController">

      <div ng-repeat="seccion in $secciones"></div>

    </div>
    <script src="libs/angular.min.js"></script>
    <script src="libs/angular-animate.min.js"></script>
    <script src="libs/angular-route.min.js"></script>
    <script src="app/index.js"></script>
    <script src="app/app.js"></script>


    <script src="servicios/navigateService.js"></script>


    <script src="views/home/home.js"></script>
    <script src="views/terms/terms.js"></script>
    <script src="views/lista/lista.js"></script>
    
    <script type="text/javascript">
        app.initialize();
    </script>


  </body>
</html>


