<div id='home-menu'>
	 <boton-sistema  imagen="img/btns/home_quehacer.svg"  id='btn_home_quehacer'  ng-click="navigateService.go('lista')"   txt='¿Que Hacer?'></boton-sistema>
	 <boton-sistema  imagen="img/btns/home_lista.svg" 	  id='btn_home_lista' 	ng-click="navigateService.go('lista')" 	   txt='Lista'></boton-sistema>
	 <boton-sistema  imagen="img/btns/home_ar.svg" 		  id='btn_home_ar' 											   	   txt='Realidad Aumentada'></boton-sistema>
	 <boton-sistema  imagen="img/btns/home_maps.svg" 	  id='btn_home_maps' 		ng-click="navigateService.go('mapa')"  txt='Mapa'></boton-sistema>
</div>