body{
	
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background-color:#EBEBEB;
	
}
.btn_menu{
	
	float:left;
	padding:15px;
	margin:3px;
	background-color:#F0F0F0;
	font-weight:bold;

	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 2px solid #ccc;
	
	background-image:url(../../img/dg_bg_item_menu.png);
	background-repeat:repeat-x;
}

.btn_menu a{	
	color:#000;
	text-decoration:underline;
}

#contendor_header{
	background-color:#333;
	color:#FFF;
	font-weight:bold;
	padding:5px;
/*	background-image:url(../../img/dg_bg_menu.png);
	background-repeat:repeat-x;
*/	
}
.img_preview{
	margin: 5px;
}
#contenedor_logo{
	background-color:#fff;
	padding:5px;
}
#contenedor_menu{
	background-color:#F60;
	background-image:url(../../img/dg_bg_menu.png);
	background-repeat:repeat-x;
	}
	
#contendor_container{
	border:solid 1px #CCC;
	padding:8px;
	background-color:#FFF;
	
}
#conteiner{
	padding:20px;
	clear: both;
}	

#conteiner table td{
	padding:3px;
}
input[type="password"]
{
	padding:5px;
	color:#900;
	
}
input[type="text"]
{
	padding:5px;
	color:#900;
	
}
input[type="submit"]
{
	padding:5px;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
	font-size:14px;
	
}
h1{
	font-size:24px;
	font-family:Verdana, Geneva, sans-serif;
	margin:0px;
	padding:10px;
	background-color:#333;
	color:#FFF;
	font-size:16px;
}

td{
	padding-left: 5px;
	vertical-align: top;
}

thead{
	font-weight: bold;
}
#slug{
	width: 250px;
}

#titulo, #titulo_galeria{
	width: 500px;
}

#desc_corta, #frase{
	height: 70px;
	width: 500px;
}
#desc{
	height: 200px;
	width: 500px;
}
#galeria-items-content{
	position: relative;
	clear: both;
	width: 100%;
	float: left;
}

.ItemGaleria {
	float: left;
	position: relative;

	margin: 20px;
	width: 100px;
	height: 100px;
	text-align: center;

}
.BotonCerrar{

	position: absolute;
	

	right: -13px;
	width: 30px;
	height: 30px;
	

	top: -13px;

	cursor: pointer;

}
