.md-select-label{
    width: 100%;
}
.formAncho{
    width: 60%;
}
.drop {
  padding: 15px;
  border: 2px #f1f1f1 dashed;
  border-radius: 5px;
  line-height: 34px;
}
.drag-over{
	background-color: #ccc;
}