.md-select-label{
    width: 100%;
}
.nav{
	background-color: #DEDEDE;
}
.viewport,.content{
	width: 100% !important;
}
md-progress-circular{
	position:absolute;
	left:50%;
	top:50%;
	margin-left: -20px;
	margin-top: -20px;
}
.formAncho{
    width: 40%;
    margin-right: 10%;
}
.drop-box {
  padding: 15px;
  border: 3px #D3D1D1 dashed;
  border-radius: 5px;
  line-height: 34px;
  color: grey;
  margin-top: 5px;
  font-weight: 400;
}
.headerImages{

	/* max-width: 400px; */
}
.dragover{
	background-color: #ccc;
	border-color: red;
}

.poi-thumb{
	position: relative;
	height: 40px;
	margin-right: 14px;
	margin-top: 3px;
}

md-toolbar {
  color: white; 
}
.imagenHeader{
	width: 100px;
	height: 50px;
}
#cargando{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	background-color: rgba(255,255,255, .7);
	z-index: 999;
	left: 0;
}
.btnNav{
    width: 100%;

    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    border-bottom: solid 1px #ccc;
}
.docs-toolbar-tools {
    max-width: 864px;
    padding: 0;
    margin: 0 24px;
    width: auto;
}
.btnAdd{
	position: fixed;
	right: 20px;
	bottom: 20px;
}
.una-imagen{
    width: 50%;
	
    position: relative;
    float: left;
    box-sizing: border-box;
    padding: 0px 2px 0px 2px;
    margin: 0px;
}
.una-imagen .remove{
	position: absolute;
}
.una-imagen img{
	position: relative;
	width: 100%;
}
a{
	color: #ff0000;
	cursor: pointer;
}
md-list-item{position: 	relative;}
.label{
    font-size: 11px;
	
    color: grey;
    margin-bottom: 10px;
}