/*mapa*/
/*.mapa-info.ng-hide-add, .mapa-info.ng-hide-remove {
  transition: 0s linear all;
}
.mapa-info.ng-hide{
	margin-bottom: -200px;
}
.mapa-info.ng-hide-add{
	margin-bottom: -200px;
}
.mapa-info.ng-hide-add-active{
	margin-bottom: 0px;
}
.mapa-info.ng-hide-add-active,
.mapa-info.ng-hide-remove-active {
  transition: .3s linear all;
}*/


/*CHEK BOX*/

.checkBox-selected{
	transition: .1s;
	transform: translate3d(0,0,0px);
}
.checkBox-selected.ng-hide-add{
	/* transform: scale(1,1);*/
	opacity:1;
	/*transform: translate3d(0,0,0);*/
}

.checkBox-selected.ng-hide-add-active{
	/*transform: scale(0,0);*/
	opacity:0;
	/*transform: translate3d(0,0,-10px);*/
}

.checkBox-selected.ng-hide-remove{
	/*transform: scale(0,0);*/
	opacity:0;
	/*transform: translate3d(0,0,-10px);*/
}
.checkBox-selected.ng-hide-remove-active{
	/*transform: scale(1,1);*/
	opacity:1;
	/*transform: translate3d(0,0,0);*/
}


.checkBox-selected.ng-hide-add-active,
.checkBox-selected.ng-hide-remove-active {

}





/*   
SECCIONES 
*/
.enterSeccionShow-add-active,
.enterSeccionHide-add-active,
.backSeccionShow-add-active,
.backSeccionHide-add-active
{
  transition: .5s;
}

.enterSeccionShow-add{
	display: block!important;
	-webkit-transform: translate3d(100%, 0px, 0px);
	z-index: 999999;
	opacity: 1;
}
.enterSeccionShow-add-active{
	-webkit-transform: translate3d(0%, 0px, 0px);
	opacity: 1;
}
.enterSeccionHide-add{
	display: block!important;
	z-index: 999998;
	-webkit-transform: translate3d(0%, 0px, 0px);
	opacity: 1;
}
.enterSeccionHide-add-active{
	-webkit-transform: translate3d(-30%, 0px, 0px);
	opacity: 0;
}
.backSeccionShow-add{
	display: block!important;
	z-index: 99998;
	-webkit-transform: translate3d(-30%, 0px, 0px);
	opacity: 0;
}
.backSeccionShow-add-active{
	-webkit-transform: translate3d(0%, 0px, 0px);
	opacity: 1;
}
.backSeccionHide-add{
	display: block!important;
	z-index: 99999;
	-webkit-transform: translate3d(0%, 0px, 0px);
	opacity: 1;
}
.backSeccionHide-add-active{
	-webkit-transform: translate3d(100%, 0px, 0px);
	opacity: 1;
}
