<input type='text' ng-change='keyDownFilter()' ng-model='filtro' />total: {{ total = (array_items | filter:filtro).length}} , cantidad: {{listados = cantidad.length}}
<div class='listado'>
	
	<div item-lista ng-repeat="item in array_items | filter:filtro | limitTo:en_pagina as cantidad" 

					index='{{$index}}' 
					item='item' 
					enscroll= 'enscroll' 
					altoholder = 'altoholder'
					ng-click="select_item(item.id)" class='item-lista'></div>

	<div id='cargando' ng-if=' total > listados'>... Cargando ...  <div>


</div>

